/** @format */

@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px !important;
}
/* Page Layout */
.saas-main-content {
  overflow-y: auto;
  margin-top: 3.5rem;
  padding: 25px;
  padding-top: 10px !important;
  width: 100%;
}

.w-30 {
  width: 30% !important;
}

.css-1mxz8qt-MuiPaper-root {
  margin-bottom: 0px !important;
}

.css-pzyknn {
  padding: 5px !important;
}

.side_menu_container {
  overflow-y: scroll;
}

.MuiTypography-root,
.MuiInputBase-sizeSmall,
.MuiInputLabel-sizeSmall {
  font-size: 14px !important;
}

.MuiTypography-h6 {
  font-size: 16px !important;
}

.MuiTableCell-head,
.MuiTableCell-body {
  padding: 7fpx !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  height: auto !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-weight: bolder;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: 25rem !important;
  max-width: 296px !important;
  overflow-x: auto !important;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
  border: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: rgba(32, 33, 36, 0.541);
}

.MuiTypography-body1 {
  /* color: white !important; */
  cursor: pointer !important;
}

.dropdownColor div svg[data-testid="ArrowDropDownIcon"] {
  color: rgba(255, 255, 255, 1) !important;
}
/* for toggel button */
.css-1diaq70-MuiSwitch-root .MuiSwitch-thumb {
  width: 12px !important;
  height: 12px !important;
}
.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #1976d2 !important;
  opacity: 1 !important;
}
.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-disabled
  + .MuiSwitch-track {
  opacity: 0.12 !important;
}
.css-1diaq70-MuiSwitch-root {
  width: 46px !important;
  height: 29px !important;
}
.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: white !important;
}
.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase {
  top: 4.5px !important;
  left: 5px !important;
}
.MuiDialogTitle-root + .css-ypiqx9-MuiDialogContent-root {
  padding-top: 8px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover,
.active .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root,
.active .css-13eg511-MuiButtonBase-root-MuiListItemButton-root {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.white-color {
  color: white !important;
}
.page-background-color {
  background-color: #f4f4ff;
}
thead > tr > th,
tfoot,
tfoot > tr > td > div,
.base-TablePagination-select,
.base-TablePagination-actions > button {
  background-color: #ececec !important;
  color: #3e3e3e !important;
}

th > span {
  font-weight: bold !important;
}

b {
  font-weight: bold !important;
}

td {
  font-size: 14px !important;
  justify-content: start;
  align-items: center;
  padding: 8px 0 !important;
  transition: all 0.15s ease-in-out;
  /* font-size: 12px !important; */
}

.MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track
 {
    background-color: #2dcc70 !important;
}
.css-1pm6e0j-MuiTableCell-root{
      padding: 5px 0px !important;
}
.MuiCollapse-wrapper.MuiCollapse-vertical {
    background-color: #4150a333;
}

.css-jfppk7-MuiListItemText-root {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    text-align: left !important;
    margin-left: 8px !important;
}